@media only screen and (max-width: 450px){
.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    width: 100vw;
    background-color: 	#9c2f2f;

}

.title{

    color: 	#dbba33;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #b6562a;
    width: 80%;
    height: 80%;
    padding: 5%;
    background-color: #b6562a;
    border-radius: 30px;
    margin-bottom: 10%;
}

.buttonContainer{
    display: flex;

    justify-content: space-around;
    width: 80%;
}

.buttons{
    color: 	#dbba33;
    background-color: #9c2f2f;
    width: 30%;
    margin: 10%;
    border-radius: 10px;
    cursor: pointer;


    
}

.inputField{
    width: 100%;
    height: 70%;
    border-radius: 10px;
    border: 1px solid #b6562a;
    padding: 3%;
    outline: none;
    font-size: 15px;
}

.gif{
    width: 50%;
    padding: 0;
    margin: 0;
}
}


@media only screen and (min-width: 451px){
    .app{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        width: 100vw;
        background-color: 	#9c2f2f;
    
    }
    
    .title{
    
        color: 	#dbba33;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #b6562a;
        width: 30%;
        height: 70%;
        padding: 2%;
        background-color: #b6562a;
        border-radius: 30px;
    }
    
    .buttonContainer{
        display: flex;
    
        justify-content: space-around;
        width: 80%;
    }
    
    .buttons{
        color: 	#dbba33;
        background-color: #9c2f2f;
        width: 30%;
        margin: 10%;
        border-radius: 10px;
        cursor: pointer;
    
        
    }
    
    .inputField{
        width: 100%;
        height: 90%;
        border-radius: 10px;
        border: 1px solid #b6562a;
        padding: 3%;
        outline: none;
        font-size: 15px;
    }
    
    .gif{
        width: 10%;
        padding: 0;
        margin: 0;
    }
    }